<a href="https://colab.research.google.com/github/DuaneHsa/2022_ML_Earth_Env_Sci/blob/main/Project_3_reno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np


import seaborn as sns

from mpl_toolkits.mplot3d import axes3d    

pd.set_option('precision', 2)

In [ ]:
from google.colab import drive
path = '/content/Plume_reno.csv'
df = pd.read_csv(path)

In [ ]:
df = pd.read_csv('/content/Plume_reno.csv',header=0)


df['time'] = df['time'].astype(str)+ df['loc'].astype(str)
df['time'] = df['time'].astype(int)
df.drop('loc', inplace=True, axis=1)
df = df.groupby((['time','pol']), as_index=False)['conc'].mean()
#(['col5','col2'])
df

     time              pol    conc
0      42         Atenolol   38.46
1      42          Atrazin   10.76
2      42     Azithromycin    6.87
3      42     Benzotriazol  153.93
4      42       Bezafibrat   26.15
..    ...              ...     ...
147    53      Simvastatin     NaN
148    53          Sotalol    2.14
149    53  Sulfamethoxazol    9.35
150    53        Terbutryn    2.78
151    53     Trimethoprim    2.22

[152 rows x 3 columns]

In [ ]:
df = df.pivot(index='time', columns='pol', values='conc')
df.fillna(0)

pol,Atenolol,Atrazin,Azithromycin,Benzotriazol,Bezafibrat,Carbamazepin,Carbendazim,Chloridazon,Ciprofloxacin,Clarithromycin,...,Ofloxacin,Paracetamol,Primidon,Propiconazol,Propranolol,Simvastatin,Sotalol,Sulfamethoxazol,Terbutryn,Trimethoprim
time,,,,,,,,,,,,,,,,,,,,,
42,38.46,10.76,6.87,153.93,26.15,36.17,10.48,0.00,13.87,3.76,...,8.96,346.38,7.71,4.83,6.84,4.15,22.33,9.69,3.09,11.76
43,10.82,18.65,146.39,146.39,4.55,46.19,11.33,0.00,0.00,3.41,...,0.00,96.22,4.13,7.10,0.00,3.89,7.08,11.99,4.66,5.03
52,10.88,14.39,6.21,156.38,7.54,32.94,12.15,1.21,23.55,2.56,...,8.90,170.80,3.69,6.65,8.25,2.69,7.57,13.24,2.86,4.81
53,3.16,15.84,1.86,139.71,1.91,30.02,11.02,1.33,3.88,0.83,...,0.00,16.44,2.46,6.65,0.00,0.00,2.14,9.35,2.78,2.22

In [ ]:
km = KMeans(n_clusters=3)
y_predicted = km.fit_predict(df)

df['cluster']=y_predicted

ValueError: ignored

In [ ]:
# Silhouette Score for K means
# Import ElbowVisualizer
from yellowbrick.cluster import KElbowVisualizer
model = KMeans()
# k is range of number of clusters.
visualizer = KElbowVisualizer(model, k=(2,5),metric='silhouette', timings= True)
visualizer.fit()        # Fit the data to the visualizer
visualizer.show()        # Finalize and render the figure