<a href="https://colab.research.google.com/github/DuaneHsa/2022_ML_Earth_Env_Sci/blob/main/Project_3_reno.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:

from sklearn.cluster import KMeans
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from sklearn.model_selection import train_test_split



import seaborn as sns

from mpl_toolkits.mplot3d import axes3d    

pd.set_option('precision', 2)

In [14]:
from google.colab import drive
path = '/content/Plume_reno.csv'
df = pd.read_csv(path)

In [15]:
df = pd.read_csv('/content/Plume_reno.csv',header=0)


df['time'] = df['time'].astype(str)+ df['loc'].astype(str)
df['time'] = df['time'].astype(int)
df.drop('loc', inplace=True, axis=1)
df = df.groupby((['time','pol']), as_index=False)['conc'].mean()
#(['col5','col2'])
df['conc'].fillna(0, inplace=True)
df

     time              pol    conc
0      42         Atenolol   38.46
1      42          Atrazin   10.76
2      42     Azithromycin    6.87
3      42     Benzotriazol  153.93
4      42       Bezafibrat   26.15
..    ...              ...     ...
147    53      Simvastatin    0.00
148    53          Sotalol    2.14
149    53  Sulfamethoxazol    9.35
150    53        Terbutryn    2.78
151    53     Trimethoprim    2.22

[152 rows x 3 columns]

In [16]:
df1 = df.pivot(index='time', columns='pol', values='conc')
df
df['pol'].replace({'Atenolol': 1, 'Atrazin': 2, 'Azithromycin':3,	'Benzotriazol':4,	'Bezafibrat':5,	'Carbamazepin':6, 'Carbendazim':7,	'Chloridazon':8,	'Ciprofloxacin':9,	'Clarithromycin':10,	'Clindamycin':11,	'Clofibric acid':12, 'Diclofenac':13, 'Diuron':14,	'Gabapentin':15,	'Gemfibrocil':16,	'Iopamidol':17,	'IPBC':18,	'Irgarol':19,	'Isoproturon':20, 'Ketoprofen':21,	'Mecoprop':22,	'Mefenamic acid':23,	'Methylbenzotriazol':24,	'Metoprolol':25,	'Metronidazol':26,	'Naproxen':27,	'Norfloxacin':28,	'Ofloxacin':29,	'Paracetamol':30,	'Primidon':31,'Propiconazol':32,	'Propranolol':33,	'Simvastatin':34,	'Sotalol':35,	'Sulfamethoxazol':36,	'Terbutryn':37,	'Trimethoprim':38}, inplace=True)
df['pol'] = df['pol'].astype(float)

In [17]:
km = KMeans(n_clusters=2)
y_predicted = km.fit_predict(df)
df['cluster']=y_predicted

In [28]:
x,y = df()

TypeError: ignored

In [26]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

ValueError: ignored

In [ ]:
# Silhouette Score for K means
# Import ElbowVisualizer




from yellowbrick.classifier import ClassificationReport
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
visualizer = ClassificationReport(model)

visualizer.fit(X_train, y_train)
visualizer.score(X_test, y_test)
visualizer.show()





from yellowbrick.cluster import KElbowVisualizer
model = KMeans()

X,y = df()

# k is range of number of clusters.
visualizer = KElbowVisualizer(model, k=(2,5),metric='silhouette', timings= True)
visualizer.fit(X)        # Fit the data to the visualizer
visualizer.show()        # Finalize and render the figure